/*colors include black, F5D0C5, D69F7E, 774936, 3C0000; palette selected with coolors.co*/

body {
    background-color:#F5D0C5
}

#feet-input {
    margin-top: 1%;
}

#weight-input {
    display: flex;
    margin-top: 1%;
}

#calculate-button {
    margin-top: 1%;
}

#calculated-bmi {
    margin-top: 1%;
    display: flex;
}